body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #eee;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover; /* Add this line */
    background-position: center center; /* Add this line */
    background-repeat: no-repeat; /* Add this line */
    background-attachment: fixed; /* Add this line */
}

#hero .profile-img {
    width: 300px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 50px;
}

#hero h1 {
    font-size: 3em;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
}

header a {
    text-decoration: none;
    color: black;
}

/* Add everything below here */

#hero {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url("mon.png");
}

#about {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('images.png');
}
#Education {
    background-image: linear-gradient(rgba(355,355,355,0.75),rgba(355,355,355,1)), url('pic.png');}

#contact {
    background-image: linear-gradient(rgba(355,355,355,0.75),rgba(355,355,355,1)), url('images.png');}
#contact form

input[type=text], select, textarea {
  background-image: linear-gradient(rgba(355,355,355,0.75),rgba(355,355,355,0.75)), url('mon.png');

width: 100%; 
  padding: 20px; 
   border-radius: 8px; 
  box-sizing: border-box; 
  margin-top: 16px; 
  margin-bottom: 16px; 
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-size: 20;
}

/* When moving the mouse over the submit button, add a darker blue color */
input[type=submit]:hover {
  background-color: blue;
}

/* Add a background color and some padding around the form */
.container {
     position: absolute;
box-sizing: border-box
  left: 0;
  border: 9px solid #ggg;
  margin: 20px;
  max-width: 300px;
  padding: 26px;
  background-color: gray;
 border-radius: 4px
}